@import '../styles/scss/colors';

.create-container {
  display: flex;
  flex-direction: column;
  width: 750px;
  margin: 0 auto;
}

.create-title {
  margin-left: 25px;
  color: $brown;
  font-size: 24px;
}

.create-button-container {
  text-align: center;
}

.create-task {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.create-items {
  margin: 0 20px;
}

.split {
  border: 1px solid #34afc7;
  width: 100%;
}

.create-task-title {
  padding: 10px;
}
