input[type='text'],
input[type='email'],
input[type='password'] {
  box-sizing: border-box;
  padding-left: 10px;
}

.input {
  width: 350px;
  height: 35px;
  border-radius: 5px;
  outline: none;
  border: 1px solid $light-gray;
  padding: 5px;
  margin: 5px;
  font-size: 16px;
  color: $brown;

  &.primary {
    border: 1px solid $orange;
    width: 480px;
  }
}

.add-tarefa-input {
  border: 1px $orange solid;
  position: relative;
  height: 35px;
  width: 600px;
  margin-left: 25px;
  margin-bottom: 10px;
  border-radius: 5px;
  font-size: 16px;
  color: $brown;

  &:focus {
    outline: none;
  }

  &.large {
    width: 700px;
  }
}

.btn-add {
  margin-left: -32px;
  margin-top: 7px;
  position: absolute;

  &:hover {
    cursor: pointer;
  }
}
